.container {
    display: flex;
    background-color: #333;
    color: #d6d6d6;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    position: fixed;
    top: 0;
    opacity: 0.9;
    height: 73px;
    width: 100%;
  }

.icon{
  cursor: pointer;
}

  .list {
    list-style: none;
    display: flex;
  
    align-items: center;
  }
  .list li {
    margin: 10px;
    list-style: none;
  }
  .logo {
    cursor: pointer;
    transition-property: fill;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
  }
  .logo:hover {
    fill: white;
  }
  

@media screen and (min-width:900px) {
    .container{
        display:none;
    }
    
}